---
import { Picture } from "astro:assets";
import Link from "./Link.astro";
const { post } = Astro.props;
---
<li class"flex flex-col gap-4 md:gap-8">
  <a
  class="block overflow-hidden rounded-t-xl md:rounded-t-2xl"
    href={`/blog/${post.data.slug}`}>
    <Picture src={post.data.image} formats={['avif', 'webp']} style="height:260px" alt={post.data.imageAlt ?? ""} />
  </a>
  <div class="p-4 md:p-8 bg-gray-100 border-gray-300 border-1 rounded-b-xl md:rounded-b-2xl">
    <Link
      href={`/blog/${post.data.slug}`}
      class="block font-sans font-bold text-xl/6 md:text-3xl/8 tracking-tight mb-2"
      >{post.data.title}</Link
    >
    <small class="block text-xs md:text-sm text-gray-500 mb-2 md:mb-4"
      >{
        new Date(post.data.date).toLocaleDateString("en-GB", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }</small
    >
    <p class="text-base md:text-xl mb-2 md:mb-4">{post.data.description}</p>
    <p class="font-medium text-sm md:text-base">
      <Link href={`/blog/${post.data.slug}`}>Read more →</Link>
    </p>
  </div>
</li>
