---
import Cta from "./Cta.astro";
import Link from "./Link.astro";
const { title, description, publishedBy, href, image, alt, linkText } =
	Astro.props;
const target = href.startsWith("http") ? "_blank" : "_self";
---

<div class="flex flex-row gap-4 md:gap-8">
  <a class="block w-1/2 md:w-1/4" href={href} target={target}
    >
    <img
      src={image}
      alt={alt}
    /></a
  >
  <div class="md:w-3/4 flex flex-col justify-between">
    <div class="md:mb-16">
      <h3
        class="md:mb-2 font-sans font-bold text-base md:text-xl/8 tracking-tight"
      >
        <Link href={href} target={target}>{title}</Link>
      </h3>
      <p class="text-base md:text-xl/8 mb-6">
        {description}<br />
        <small>{publishedBy}</small>
      </p>
    </div>
    {linkText && <Cta href={href}>{linkText}</Cta>}
  </div>
</div>
